#app {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.infinite-list-item {
  width: 24%;
  float: left;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 2%;
}

.infinite-list-item h2 {
  margin-top: 1%;
  margin-bottom: 1%;
}

.infinite-list-item .rating {
  float:right;
  cursor: pointer;
  margin-top: 1%;
}

.infinite-list-item img {
  height: 192px;
  object-fit: cover;
  width: 100%;
}

.infinite-list-item .runtime {
  margin-left: 20px;
}

.infinite-list-item .imdb-link {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 1px;
  border: 1px solid black;
}

.infinite-list-item .imdb-link:hover {
  background-color: white;
  color: black;
}

.item-content {
  padding: 1%;
}

.fa-question-circle {
  font-size: 1.5em;
}

.fa-question-circle:hover {
  color: #f3ce00;
}

.toggle-form {
    display: inline-block;
    height: 400px;
    width: 200px;
    background-color: white;
    position: absolute;
}