body, button, h2, h3 {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

button, h2, h3 {
  font-weight: 400;
}

button {
  font-size: 0.9em;
  outline:none;
}

h1 {
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
}

#app {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

/* Header */
.movie-tv-sort button, .genre-sort button, .sort button {
  border: 1px solid #CDD3CE;
  background-color: #FFF;
  border-radius: 0;
  cursor: pointer;
}

.movie-tv-sort button {
  font-size: 1.5em;
  width: 49%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.movie-tv-sort button:first-of-type {
  margin-right: 1%;
}

.movie-tv-sort button:last-of-type {
  margin-left: 1%;
}

.movie-tv-sort button:hover, .genre-sort button:hover, .sort button:hover {
  background-color: #E7EDE8;
}

.genre-sort {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 10px;
}

.genre-sort button {
  width: 10%;
  margin-bottom: 2px;
  height: 48px;
}

.genre-sort button:not(:nth-child(10)):not(:last-child) {
  border-right: 0px;
}

.sort {
  display: flex;
}

.sort button {
  align-self: flex-end;
  height: 48px;
}

.sort button:not(:last-of-type) {
  border-right: 0px;
}

.sort h2 {
  margin-bottom: 0;
}

.sort #or {
  width: 10%;
  text-align: center;
  align-self: center;
}

.type-sort {
  width: 40%;
  margin-left: 4%;
}

.type-sort h3, .emotion-sort h3 {
  text-align: center;
}

.type-sort button {
  width: 25%;
}

.emotion-sort {
  width: 50%;
  margin-left: 10%;
}

.emotion-sort button {
  width: 20%;
}

/* AppBody */

.container {
  margin-top: 50px;
}

/* MovieBox */

.infinite-list-item {
  width: 24%;
  float: left;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 2%;
}

.infinite-list-item h2 {
  margin-top: 1%;
  margin-bottom: 1%;
}

.infinite-list-item .rating {
  float:right;
  cursor: pointer;
  margin-top: 1%;
}

.infinite-list-item img {
  height: 192px;
  object-fit: cover;
  width: 100%;
}

.infinite-list-item .runtime {
  margin-left: 20px;
}

.infinite-list-item .imdb-link {
  text-decoration: none;
  background-color: #3C363E;
  color: white;
  padding: 1px 2px 1px 2px;
  border: 1px solid #3C363E;
}

.infinite-list-item .imdb-link:hover {
  background-color: white;
  color: #3C363E;
}

.item-content {
  padding: 1%;
}

.item-content {
  font-weight: 300;
}

.item-content h2 {
  font-size: 1.4em;
}

.item-content p:first-of-type {
  margin-top: 0;
}

.item-content p {
  font-size: 0.9em;
}

.fa-pencil {
  font-size: 1.5em;
  float: right;
  margin-left: 1%;
  margin-top: 1%;
  position: relative;
}

.fa-pencil:hover {
  color: #D8B95D;
}

.toggle-form {
  display: inline-block;
  height: 400px;
  width: 100%;
  background-color: white;
  position: absolute;
}

button.button-active {
  background-color: #E7EDE8;
}

.form {
  position: absolute;
  width: 19%;
  height: 190px;
  background-color: #eee;
  opacity: 0;
  transform: translateY(-190px);
  z-index: -1;
  transition: z-index 0.2s step-start, transform 0.2s linear, opacity 0.2s ease-in-out;;
}

.form.active {
  opacity: 1;
  transform: translateY(0);
  z-index: 0;
  transition: z-index 0.2s step-end, transform 0.2s linear;
}

.form .container {
  padding-left: 8px;
  padding-right: 8px;
}

.form .container button {
  float: right;
}